# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\学习文件\2020_2023_研究生\研究生_学习方向\研究生_开发\day04_04AnnoOne2Many\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
